<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSWidgetLiveActivityAttributes</key>
	<string>StylIQActivityAttributes</string>
	<key>NSWidgetLiveActivityUsageDescription</key>
	<string>Your personalized outfit updates will appear in the Dynamic Island.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>WKAppBundleIdentifier</key>
	<string>com.stylhelpr.stylhelpr</string>
</dict>
</plist>
